.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.nav a {
  width: 33%;
}

header {
  background-color: #e0b1cb;
  color: black;
  text-align: center;
  font-weight: bold;
}

h3 {
  margin: 0;
}
